/* CSS template */

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container>aside {
    width: 30%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

section div {
    text-align: center;
}

nav ul li {}