html,
body {
    margin: 0;
    width: 100%;
    text-align: center;
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

#content {
    align-items: stretch;
}

.row {
    flex-direction: row;
}

header {
    background-color: red;
    height: 50px;
}

aside {
    width: 200px;
}

aside.left {
    background-color: yellow;
}

main {
    background-color: lightblue;
    width: 100%;
    height: calc(100vh - 100px);
    text-align: left;
}

aside.right {
    background-color: pink;
}

footer {
    background: green;
    height: 50px;
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
    .left {
        order: 2;
    }
    main {
        order: 3;
    }
    .right {
        order: 1;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .left {
        order: 2;
    }
    main {
        order: 3;
    }
    .right {
        order: 1;
    }
}